
@font-face {
    font-family: Avenir;
    src: url(avenir.otf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

body {
    position: 100%;

}

.arrow{
    position: absolute;
    top: 90%;
    width: 4%;
    align-content: center;
    left: 50%;
    z-index: 10;
    animation: bounce 2s;
    animation-iteration-count: 5;
}

@keyframes bounce {
  70% {
    transform:translateY(0%);
    padding-bottom: 7px;
}
80% {
  transform:translateY(-15%);
}
90% {
  transform:translateY(0%);
  padding-bottom: 8px;
}
95% {
  transform:translateY(-7%);
}
97% {
  transform:translateY(0%);
  padding-bottom: 9px;
}
99% {
  transform:translateY(-3%);
}
100% {
  transform:translateY(0);
  padding-bottom: 9px;
  opacity: 1;
}

}

.active{
   background-color: rgba(255, 241, 221, 0.1);

        }




/* Video in the header */

video {

    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}



article {
    width: 100%;
    color: #fff;
    padding-top: 1%;
    text-align: left;
    font-size: 15px;
    display: block;
}

.together {
    text-align: left;
}


p a {
    color: #223141;
    text-decoration: none;

}



body {
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}







*,
:after,
:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
    width: 100%;
    display: table;

}


.scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
}

.scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #FFF;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    60% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }


}



/* DESKTOP */

@media only screen  and (min-width : 1024px) {


    .jform{
    float: left;
    max-width: 55%;
    background: none;
    font: 15px Avenir;
    color: #999;

}
.jform h3 {
    font: 18px Avenir;
    padding: 0px 0px 10px 40px;
    display: block;
    color: #C4C2C2;
    padding-bottom: 30px;
}

.jform label {
    display: block;
    margin: 10px 0px 10px;

}
.jform label>span {
    float: left;
    width: 25% ;
    text-align: right;
    padding-right: 9px;
    color:#C4C2C2;
}
.jform input[type="text"], .jform input[type="email"], .jfrom textarea, .jform input[type="subject"]{

    width: 70%;
    padding: 3px 0px 3px 5px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 16px;
    border-radius: 4px;
    border: solid 1px #fff;
    background: none;
    height: 30px;
    line-height:15px;
    outline: 0;
    color: #fff;

}
.jform textarea{
    height:100px;
    border: solid 1px #fff;
    padding: 5px 0px 0px 5px;
    border-radius: 4px;
    width: 70%;
    background: none;
}
.jform .button {

    background-color: #C4C2C2;
    border-radius:9px;
    display:inline-block;
    font-family: Avenir;
    color: #02192D;
    font-size:14px;
    font-weight:bold;
    height: 35px;
    line-height: 30px;
    width:100px;
    text-decoration:none;
    text-align: center;

}
.jform .button:hover {

   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.jform .button:active {
    position:relative;
    top:1px;

}
.jform select {
    background: url('down-arrow.png') no-repeat right, -moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
    background: url('down-arrow.png') no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,#E9E9E9));
   appearance:none;
    -webkit-appearance:none;
   -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    line-height: 15px;
    height: 30px;
}

.letter{
    padding-top: 30%;
    font-family: "Raleway";
    font-size: 17px;
    color: #C4C2C2;
}

.inf{
    color: #ffff;
    padding: 15px;
}

    .welcome {
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 9;
    color: white;
    top: 390px;
    left: 55%;
    transform: translate(-50%, -50%);
}

    .copyright {
        width: 100%;
        text-align: center;
        font-size: 10px;
        margin-top: 10%;
    }

    .social {
    float: right;
    animation: pulse 2s;
    animation-iteration-count: 4;
    padding-top: 5em;
}



    ul a {
        padding: 20px;
        font-size: 60px;
        width: 50%;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        display: inline;
    }

    h1 {
        color: #213F60;
        padding-top: 5%;
        text-align: center;
        font-size: 50px;
    }

    h2 {
        color: #496A8E;
        text-align: center;
        font-size: 16px;
        display: inline;
        font-family: Avenir;
        letter-spacing: 3px;

    }

    h3 {
        color: #F4E8DF;
        text-align: center;
        font-size: 23px;
        padding-top: 8%;
        padding-bottom: 4%;
        letter-spacing: 2px;
        width: 100%;
    }

      h4 {
        color: #F4E8DF;
        text-align: center;
        font-size: 15px;
        padding-top: 5%;
        padding-bottom: 5%;

    }

    .description{
        color: #A3B6C4;
        text-align: left;
        font-size: 15px;
        padding-top: 2%;
        padding-bottom: 5%;
        width: 50%;
        float: right;
        padding: 2em;
        font-family: Avenir;

    }


    a i {
        padding: 0.5em;
        text-align: center;

    }


    a i:hover {
        opacity: 0.5;
        transition: all 0.8s ease;
    }

    #tagmenu {
        margin-top: 10%;
    }

    #bio {
        color: #A3B6C4;
        padding-top: 2em;
        text-align: center;
        margin-top: 15%;
        color: #fff;
        padding: 1em;
        text-align: center;
        width: 85%;
        text-align: left;
        align-content: center;
        margin-top: 6%;
        margin-left: 8%;
        margin-bottom: 10%;
    }

    #bio p {
        color: #A3B6C4;
        text-align: left;
        width: 100%;
        height: 100%;
        align-content: center;
        font-family: Avenir;
    }



    #contact {
        text-align: center;
        align-content: center;
        color: #fff;
        padding: 1em 4em 3em 4em;
        text-align: center;
        width: 100%;
        align-content: center;
        margin-left: -1%;
        margin-bottom: 10%;

    }

    #music {
        color: #A3B6C4;
        text-align: center;
        align-content: center;
        color: #fff;
        width: 100%;
        margin-top: 40%;
        margin-bottom: 10%;
        font-family: Avenir;

    }



    /* The side navigation menu */
 .sidenav {
        background-color: rgba(10, 27, 44, .9);
        height: 70px;
        overflow: hidden;
        width: 100%;
        padding-left: 55%;
        position: fixed;
        z-index: 999;

    }

    .sidenav a {
        color: #fff;
        margin-left: 6%;
        padding: 1.7em 1em 2em 1em;
        float: left;
        display: block;
        text-decoration: none;
        font-size: 15px;
        position: relative;
        font-family: Avenir;
        letter-spacing: 3px;


    }

    .sidenav a:hover {
         text-shadow: 0.7px 0.7px 0.5px #fff;
        transition: all 0.5s ease-in;
        overflow: hidden;
        display: block;
        color: #818181;

    }
    .sidenav .closebtn {
        display: none;
    }

    /* The sticky class is added to the navbar with JS when it reaches its scroll position */
    .sticky {
        position: fixed;
        top: 0;
        width: 100%
    }

    /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
    .sticky + .content {
        padding-top: 60px;
    }
    /*logo*/
    img.sticky {
        position: fixed;
        top: 100px;
        float: left;
        width: 170px;
        margin-top: -90px;
        z-index: 9999;
        left: 10px;
        height: 50px;
    }

    img.home {
        width: 45%;
        margin-top: -5%;
        z-index: 1;
    }



    .jonas {
        width: 55%;
        padding: 0em 2em 1em 0em;
        float: left;

    }
    .info {
        text-align: center;
        font-size: 12px;
        z-index: -1;


    }

    .info1 {
        margin-top: -26%;
        text-align: center;
        z-index: -1;
        color: #0C2335;
        margin-right: 7%;

    }




    .boardingpass {
        margin-top: -1000px;
        margin-right: 300px;
        width: 40%;
    }

    .letter {
        float: right;
        margin-top: -20%;
    }
    form {
        width: 55%;
    }

    .together {
        margin-left: 8%;

    }

    main {

        padding-top: 50%;
        background-color: rgba(214, 202, 177, 0.3);
        font-family: Avenir;
    }

    .intro {
        margin-top: -30%;
        width: 100%;
        height: 65%;
    }

    .page{
background-color: rgba(2, 25, 45, 0.9);
        margin: 5em 10em 1em 10em;
}

    .title{
color: white;
        font-size: 20px;
}

    .year{
color: white;
        font-size: 20px;
}
    .pro {
width: 50%;
}

    .project {
width: 100%;
        padding: 0em 2em 0em 3em;
}

   .soundcloud{
       margin-bottom: 5%;
width: 100%;
}


}

/* TABLET*/

@media only screen and (min-width: 600px) and (max-width: 1024px){

    .jform{
    float: left;
    max-width: 45%;
    background: none;
    font: 15px Avenir;
    color: #999;

}
.jform h3 {
    font: 18px Avenir;
    padding: 0px 0px 10px 40px;
    display: block;
    color: #C4C2C2;
    padding-bottom: 30px;
}

.jform label {
    display: block;
    margin: 10px 0px 10px;

}
.jform label>span {
    float: left;
    width: 25% ;
    text-align: right;
    padding-right: 9px;
    color:#C4C2C2;
}
.jform input[type="text"], .jform input[type="email"], .jfrom textarea, .jform input[type="subject"]{

    width: 70%;
    padding: 3px 0px 3px 5px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 16px;
    border-radius: 4px;
    border: solid 1px #fff;
    background: none;
    height: 30px;
    line-height:15px;
    outline: 0;
    color: #fff;

}
.jform textarea{
    height:100px;
    border: solid 1px #fff;
    padding: 5px 0px 0px 5px;
    border-radius: 4px;
    width: 70%;
    background: none;
}
.jform .button {

    background-color: #C4C2C2;
    border-radius:9px;
    display:inline-block;
    font-family: Avenir;
    color: #02192D;
    font-size:14px;
    font-weight:bold;
    height: 35px;
    line-height: 30px;
    width:100px;
    text-decoration:none;
    text-align: center;

}
.jform .button:hover {

   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.jform .button:active {
    position:relative;
    top:1px;

}
.jform select {
    background: url('down-arrow.png') no-repeat right, -moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
    background: url('down-arrow.png') no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,#E9E9E9));
   appearance:none;
    -webkit-appearance:none;
   -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    line-height: 15px;
    height: 30px;
}

.letter{
    padding-top: 30%;
    font-family: "Raleway";
    font-size: 17px;
    color: #C4C2C2;
}

.inf{
    color: #ffff;
    padding: 15px;
}

    .welcome {
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 9;
    color: white;
    top: 280px;
    left: 55%;
    transform: translate(-50%, -50%);
}

  .copyright {
        width: 100%;
        text-align: center;
        font-size: 10px;
        margin-top: 10%;
    }

    .social {
    float: right;
    animation: pulse 2s;
    animation-iteration-count: 4;
    padding-top: 5em;
}



    ul a {
        padding: 20px;
        font-size: 60px;
        width: 50%;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        display: inline;
    }

    h1 {
        color: #213F60;
        padding-top: 5%;
        text-align: center;
        font-size: 50px;
    }

    h2 {
        color: #496A8E;
        text-align: center;
        font-size: 13px;
        display: inline;
        font-family: Avenir;
        letter-spacing: 2px;

    }

    h3 {
        color: #F4E8DF;
        text-align: center;
        font-size: 23px;
        padding-top: 15%;
        padding-bottom: 4%;
        letter-spacing: 2px;
        width: 100%;
    }

      h4 {
        color: #F4E8DF;
        text-align: center;
        font-size: 15px;
        padding-top: 5%;
        padding-bottom: 5%;

    }

    .description{
        color: #A3B6C4;
        text-align: left;
        font-size: 15px;
        padding-top: 2%;
        padding-bottom: 5%;
        width: 50%;
        float: right;
        padding: 2em;
        font-family: Avenir;

    }


    a i {
        padding: 0.5em;
        text-align: center;

    }


    a i:hover {
        opacity: 0.5;
        transition: all 0.8s ease;
    }

    #tagmenu {
        margin-top: 10%;
    }

    #bio {
        color: #A3B6C4;
        padding-top: 2em;
        text-align: center;
        margin-top: 15%;
        color: #fff;
        padding: 1em;
        text-align: center;
        width: 85%;
        text-align: left;
        align-content: center;
        margin-top: 6%;
        margin-left: 8%;
        margin-bottom: 10%;
    }

    #bio p {
        color: #A3B6C4;
        text-align: left;
        width: 100%;
        height: 100%;
        align-content: center;
        font-family: Avenir;
    }



    #contact {
        text-align: center;
        align-content: center;
        color: #fff;
        padding: 1em 2em 3em 2em;
        text-align: center;
        width: 100%;
        align-content: center;
        margin-left: -1%;
        margin-bottom: 10%;

    }

    #music {
        color: #A3B6C4;
        text-align: center;
        align-content: center;
        color: #fff;
        width: 100%;
        margin-top: 40%;
        margin-bottom: 10%;
        font-family: Avenir;

    }



    /* The side navigation menu */
    .sidenav {
        background-color: rgba(10, 27, 44, .9);
        height: 70px;
        overflow: hidden;
        width: 100%;
        padding-left: 50%;
        position: fixed;
        z-index: 999;

    }

    .sidenav a {
        color: #fff;
        margin-left: 3%;
        padding: 1.7em 1em 2em 1em;
        float: left;
        display: block;
        text-decoration: none;
        font-size: 14px;
        position: relative;
        font-family: Avenir;
        letter-spacing: 3px;


    }

    .sidenav a:hover {
         text-shadow: 0.7px 0.7px 0.5px #fff;
        transition: all 0.5s ease-in;
        overflow: hidden;
        display: block;
         color: #818181;

    }
    .sidenav .closebtn {
        display: none;
    }

    /* The sticky class is added to the navbar with JS when it reaches its scroll position */
    .sticky {
        position: fixed;
        top: 0;
        width: 100%
    }

    /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
    .sticky + .content {
        padding-top: 60px;
    }
    /*logo*/
    img.sticky {
        position: fixed;
        top: 103px;
        float: left;
        width: 170px;
        margin-top: -90px;
        z-index: 9999;
        left: 10px;
        height: 45px;
    }

    img.home {
        width: 45%;
        margin-top: -5%;
        z-index: 1;
    }



    .jonas {
        width: 70%;
        padding: 0em 1em 1em 0em;


    }
    .info {
        text-align: center;
        font-size: 12px;
        z-index: -1;


    }

    .info1 {
        margin-top: -26%;
        text-align: center;
        z-index: -1;
        color: #0C2335;
        margin-right: 7%;

    }




    .boardingpass {
        margin-top: -1000px;
        margin-right: 300px;
        width: 40%;
    }

    .letter {
        float: right;
        margin-top: -20%;
        width: 40%
    }
    form {
        width: 55%;
    }

    .together {
        margin-left: 8%;

    }

    main {

        padding-top: 50%;
        background-color: rgba(214, 202, 177, 0.3);
        font-family: Avenir;
    }

    .intro {
        margin-top: -45%;
        width: 100%;
        height: 40%;
    }

    .page{
background-color: rgba(2, 25, 45, 0.9);
        margin: 2em 4em 1em 4em;
}

    .title{
color: white;
        font-size: 20px;
}

    .year{
color: white;
        font-size: 20px;
}
    .pro {
width: 50%;
}

    .project {
width: 100%;
        padding: 0em 2em 0em 3em;
}

   .soundcloud{
       margin-bottom: 5%;
width: 100%;
}


}

/* MOBILE VERSION*/

@media (max-width: 600px) {


    /* Video in the header */
    video {
        width: 100%;
        overflow: hidden;
        position: fixed;
        top: 80%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        background-size: cover;
    }

    article {
        width: 100%;
        color: #fff;
        padding-top: 1%;
        text-align: left;
        font-size: 15px;
        display: block;
        padding: 6em 2em 5em 2em;
        display: block;
    }
    .together {
        text-align: left;
    }


     .welcome {

        text-align: center;
        width: 100%;
        z-index: 9;
        color: white;
        margin-top: -60%;
    }

    h1 {
        text-align: center;
        font-size: 25px;
        width: 100%;
    }

    h2 {
        color: #496A8E;
        text-align: center;
        margin-top: 50%;
        font-size: 11px;
        display: inline;
        font-family: Avenir;
        letter-spacing: 1px;

    }


    /*logo*/
    img.sticky {
        float: right;
        width: 150px;
        height: 45px;
        z-index: 1000;
        left: 3px;
        top: 6px;
    }




    /* The sticky class is added to the navbar with JS when it reaches its scroll position */
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }

    /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
    .sticky + .content {
        padding-top: 60px;
    }


    /* The side navigation menu */
    .sidenav {
        height: 100%;
        /* 100% Full-height */
        width: 0;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 9999;
        /* Stay on top */
        top: 0;
        left: 0;
        background-color: #02192d;
        /* Black*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the sidenav */
    }

    /* The navigation menu links */
    .sidenav a {
        padding: 8px;
        text-decoration: none;
        font-size: 18px;
        color: #818181;
        display: block;
        transition: 0.3s;
        font-family: Avenir;
        letter-spacing: 3px;



    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover,
    .offcanvas a:focus {
        color: #f1f1f1;
    }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    body {
        transition: background-color .5s;

    }

    label[for="nav-trigger"] {
        /* critical positioning styles */
        position: fixed;
        right: 25px;
        top: 15px;
        z-index: 9999;
        background-image: url(burger.png);
        /* non-critical apperance styles */
        height: 25px;
        width: 30px;
        cursor: pointer;
        background-size: contain;

    }

    /* Nav Trigger */
    .nav-trigger {
        /* critical styles - hide the checkbox input */
        position: absolute;
        clip: rect(0, 0, 0, 0);
    }

    #nav {
        background-color: rgba(10, 27, 44, .9);
        height: 12%;
        overflow: hidden;
        width: 100%;
        padding-left: 55%;
        position: fixed;
        z-index: 999;
    }

   main {

        padding-top: 50%;
        background-color: rgba(214, 202, 177, 0.3);
        font-family: Avenir;
    }




    h3 {
        color: #F4E8DF;
        text-align: center;
        font-size: 15px;
        padding-top: 15%;
        padding-bottom: 5%;
        letter-spacing: 2px;

    }


    .info {
        margin-top: -2%;
        text-align: center;
    }

    .jonas {
        width: 100%;
        padding: 5px;
        border-radius: 5px;

    }

    #bio {
        color: #A3B6C4;
        padding-top: 2em;
        width: 100%;
        align-content: center;
        margin-top: 15%;


    }

    #bio p {
        color: #A3B6C4;
        padding: 1em;
        text-align: left;
        width: 100%;
        height: 200vh;
        align-content: center;
        margin-top: 10%;
        font-family: Avenir;


    }


    #contact {
        padding-top: 1em;
        text-align: center;
        width: 100%;
        height: 100%;
        text-align: center;
        align-content: center;
        margin-top: 15%;
        color: #fff;
        padding: 1em;
        text-align: center;
        font-family: Avenir;
        margin-bottom: 20%;


    }

    #music {
        width: 100%;
        text-align: center;
        align-content: center;
        color: #fff;
        text-align: center;
        font-family: Avenir;
        margin-top: -100px;


    }

    a i:hover {
        opacity: 0.5;
        transition: all 0.8s ease;
    }

    a i {
        margin-top: 15%;
        padding: 0.5em;
        text-align: center;
    }

    img.home {
        width: 70%;
        margin-top: 20%;
    }

    .info1 {
        margin-top: -41%;
        text-align: center;
        font-size: 11px;
        z-index: -1;
    }


    .social {
        width: 100%;
        padding-bottom: 1em;
        animation: pulse 2s;
        animation-iteration-count: 4;

    }

    .copyright {
        margin-top: 50%;
        font-size: 10px;
        text-align: center;
    }



    .intro {
        margin-top: -30%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: 20%;
        margin-left: 50%;


    }

    .arrow{
    top: 90%;
    width: 10%;
    align-content: center;
    left: 45%;
    z-index: 10;
    animation: bounce 2s;
        animation-iteration-count: 5;
}

    .active{
   background-color: rgba(255, 241, 221, 0.1);

}

    .jform{
    float: left;
    width: 100%;
    font: 13px "Avenir";
    color: #999;
        display: block;

}
.jform h4 {
    font: 15px "Avenir";
    display: block;
    color: #C4C2C2;
    padding-bottom: 30px;
}

.jform label {
    display: block;
    margin: 10px 0px 10px;
    text-align: center;

}
.jform label>span {
    width: 100% ;
    text-align: center;
    color:#C4C2C2;
    font-size: 15px;
    margin-bottom: 5%;
    margin-right: 2%;
}
.jform input[type="text"], .jform input[type="email"], .jfrom textarea, .jform input[type="subject"]{

    width: 90%;
    padding: 3px 0px 3px 5px;
    margin-top: 10px;
    margin-right: 6px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: solid 1px #fff;
    background: none;
    height: 30px;
    line-height:15px;
    outline: 0;
    color: #fff;

}
.jform textarea{
    height:100px;
    border: solid 1px #fff;
    padding: 5px 0px 0px 5px;
    border-radius: 4px;
    width: 90%;
    background: none;
    margin-top: 10px;
}
.jform .button {

    background-color: #C4C2C2;
    border-radius:11px;
    display:inline-block;
    font-family:"Avenir";
    color: #02192D;
    font-size:13px;
    font-weight:bold;
    height: 35px;
    line-height: 30px;
    width:80px;
    text-decoration:none;
    text-align:center;
    margin-bottom: 50px;
    margin-right: 5%;


}
.jform .button:hover {

   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.jform .button:active {
    position:relative;
    top:1px;

}
.jform select {
    background: url('down-arrow.png') no-repeat right, -moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
    background: url('down-arrow.png') no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,#E9E9E9));
   appearance:none;
    -webkit-appearance:none;
   -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    line-height: 15px;
    height: 30px;
}

.letter{
    padding-top: 30em;
    font-family: "Avenir";
    font-size: 14px;
    color: #C4C2C2;
    display: block;
}

.inf{
    color: #ffff;
    padding: 1em 1em 1em 1em;
}

       .page{
background-color: rgba(2, 25, 45, 0.9);


}



     .title{
color: white;
        font-size: 20px;
}

    .pro {
width: 100%;
}

    .project {
width: 100%;
}

   .soundcloud{
       margin-top: 5%;
width: 100%;
}

    .year{
color: white;
        font-size: 15px;
        text-align: center;
        padding: 1em;
}

    .description{
color: white;
        font-size: 15px;
        text-align: left;
        padding-top: 2em;
        color: #A3B6C4;
        font-family: Avenir;
}

    form {
        width: 100%;
    }

}
